<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<h1>Articles</h1>

<div class="search-form">
  <%= form_with url: articles_path, method: :get do |form| %>
    <%= form.text_field :search, placeholder: "Search articles...", value: params[:search] %>
    <%= form.submit "Search" %>
  <% end %>
  <% if params[:search].present? %>
    <p><%= link_to "Clear search", articles_path %></p>
    <% if @articles.any? %>
      <p>Found <%= pluralize(@articles.count, 'article') %> matching "<%= params[:search] %>"</p>
    <% else %>
      <p>No articles found matching "<%= params[:search] %>"</p>
    <% end %>
  <% end %>
</div>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
